# --- Ingesta de Datos ---
requests
beautifulsoup4

# --- Base de Datos Vectorial ---
chromadb
sentence-transformers

# --- Framework RAG ---
langchain
langchain-community
langchain-huggingface
langchain-chroma

# --- Backend Web ---
flask
gunicorn
flask-cors

# --- UI ---
streamlit
